body{
    background-color: #F3F8F2;
}

.center{
    text-align: center;
}

.register{
    margin-top: 60px;
}
.wrap-header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.wrap-header .image{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrap-header .company h1{
    font-size: 50px;
    font-family: monospace;
    letter-spacing: 5px;
    margin-bottom: 0;
    line-height: 20px;
}
.wrap-header .company .under{
    font-size: 15px;
    margin-bottom: 10px;
}
.line-input{
    background-color: none !important;
    border-top: none;
    border-left: none ;
    border-right: none;
    border-bottom: 3px solid black;
    font-size: 15px;
}
#full{
    display: block;
    width: 100%;
}
.wrap-details{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
}
.input-group{
    margin-top: 20px;
}
.input-group input {
    display: inline-block;
    width: 100%;
    position: relative;
    top: -3em;
  }
  .input-group label {
    display: inline-block;
    width: 10em;
    margin-right: .5em;
    padding-top: 1.5em;
  }
  .full-width{
      display: block;
      width: 100% !important;
  }
  label#cadd{
      width: 73%;
  }
  button{
    margin: 0 auto;
      padding: 10px;
      border: 2px solid white;
      color: white;
      background-color: #0A1128;
      font-size: 20px;
      width: 200px;
  }
  button:hover{
    margin: 0 auto;
      padding: 10px;
      border: 2px solid white;
      color: black;
      background-color: rgb(209, 218, 235);
      font-size: 20px;
      width: 200px;
      transition: 2s;
  }
  input:focus{
      background-color: rgb(183, 243, 223);
  }

  /* Sign In Style */
  .wrap-form{
    margin: 0 auto;
    margin-top: 10%;
    background-color: #494850;
    max-width: 300px;
    height: auto; 
    padding: 30px;
  }
  .wrap-form input[type=text],input[type=password]{
      padding: 3px;
      background-color: #494850;
      color: white;
  }
  .wrap-form label{
      color: white;
  }


  @media (max-width: 800px) { 
    .wrap-header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .wrap-details{
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
    }
  }